<div class="post-container">
  <!-- <div class="start-post">
   
    Start a post
  </div> -->

    
  <button mat-raised-button (click)="Openpopup()">Start a new feed</button>


    <!-- <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none" /> -->

<!-- 
    <button class="text-box">
      <i class="fas fa-comment-alt fa-xs text-icon"></i>
      <span>Text</span>
    </button> -->
    <!-- <button class="event-box">
      <i class="far fa-calendar-alt fa-xs event-icon"></i>
      <span>Event</span>
    </button> -->
  </div>

